body {
	text-align: center;
  font-family: "arial", san-serif;
}

.game-container {

}

#letters {	
	background: gray;
	height: 300px;
	width: 400px;
	border: 3px solid black;
}

.letterTiles {
  display: inline-block;
  background-color: pink;
  font-size: 18px;
  height: 20px;
  width: 20px;
  padding: 1px;
  margin: 10px;
  border: 1px solid black;
}

#wordBox div {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  background-color: white;
  overflow: auto; 
  display: inline-block;
}

#wordBox {
	background: gray;
	height: 350px;
	width: 400px;
	border: 3px solid black;
}
/*#letters span {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  background-color: white;
  overflow: auto;
}*/
#wordBox span {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
}
.draggable-spans span {
}